body {
    background-color:lightgray;
}

header {
    margin-bottom: 1rem;

    h1 {
        margin:0;
        color:white
    }
}

header, footer {
    background-color: #339941;
    > * {
        // width: 600px;
        width:100%;
        max-width:100%;
        margin: 0 auto;
        padding: 1rem 0;
        color:white
    }
}

p {
    margin-bottom:0;
}

#layout-level {
    height:100vh;
    position:relative;
}

header, footer, main {
    padding: 1rem
}

main {
    max-width:100%
}

h4 {
    margin-bottom:0.5rem
}

.row {
    display: flex;
    flex-direction: row;
    margin:1
}

.float-right, #delete-btn{
    float:right;
}

.w50 {
    width:50%
}

.w100 {
    width:100%
}

.level-1 {
    margin-left:3vw
}
.level-2 {
    margin-left:6vw
}
.level-3 {
    margin-left:9vw
}
.level-4 {
    margin-left:12vw
}
.level-5 {
    margin-left:15vw
}

input[type=text] {
    width:100%
}

#list-toggle {
    font-size:1rem
}

@media only screen and (min-width: 600px) {
    header, footer {
        margin-bottom:0;    
        > * {
            padding: 0.25rem 0;
        }
    }
    h1 {
        font-size:1.75rem
    }
    h2 {
        font-size:1.5rem
    }
}